<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default"><- Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">User name</label>
                            <input type="text" v-model="user.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">User email</label>
                            <input type="text" v-model="user.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">Address</label>
                            <input type="text" v-model="user.address" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <button class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.userId = id;
            axios.get('/api/users/' + id)
                .then(function (response) {
                    app.user = response.data;
                })
                .catch(function () {
                    alert("Could not load user")
                });
        },
        data: function () {
            return {
                userId: null,
                user: {
                    name: '',
                    email: '',
                    address: '',
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                let app = this;
                let newUser = app.user;
                axios.patch('/api/users/' + app.userId, newUser)
                    .then(function (response) {
                        app.$router.replace('/');
                    })
                    .catch(function (response) {
                        console.log(response);
                        alert("Could not edit user");
                    });
            }
        }
    }
</script>