<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default"><- Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">User name</label>
                            <input type="text" v-model="user.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">User email</label>
                            <input type="text" v-model="user.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">Address</label>
                            <input type="text" v-model="user.address" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                user: {
                    name: '',
                    email: '',
                    address: '',
                },
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                let app = this;
                let newUser = app.user;
                axios.post('/api/users', newUser)
                    .then(function (response) {
                        app.$router.push({path: '/'});
                    })
                    .catch(function (response) {
                        console.log(response);
                        alert("Could not create new user");
                    });
            },
        }
    }
</script>