<template>
    <div>
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <router-link :to="{name: 'createUser'}" class="btn btn-success">Create new User</router-link>
            </div>
            <div class="input-group mb-3 col-10">
                <input type="text" class="form-control" v-model="search" placeholder="type ...">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search">Search</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user, index in filteredList">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.address }}</td>
                        <td>
                            <router-link :to="{name: 'editUser', params:
                            {id: user.id}}" class="btn btn-xs btn-info">
                                Edit

                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(user.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data:
            function () {
            return {
                users: [],
                search: '',
            }
        },
        mounted() {
            let app = this;
            axios.get('/api/users')
                .then(function (response) {
                    console.log(response);
                    app.users = response.data;
                })
                .catch(function (response) {
                    console.log(response);
                    alert("Could not load users");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete user?")) {
                    let app = this;
                    axios.delete('/api/users/' + id)
                        .then(function (response) {
                            app.users.splice(index, 1);
                        })
                        .catch(function (response) {
                            alert("Could not delete user");
                        });
                }
            }
        },
        computed: {
            filteredList() {
                return this.users.filter(user => {
                    return user.name.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    }
</script>